* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin: auto;
    font-family: 'Shizuru';
    color: #fff;
    overflow: hidden;
    background-color: #9165c433;
}
header {
    text-align: center;
    padding-bottom: 10px;
    background-color: #9165c4;
}
h1 {
    font-size: 40px;
}
#game-field {
    width: 550px;
    height: 550px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.memory-card {
    cursor: pointer;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    background-color: #9165c4;
    border-radius: 15px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.memory-card:active,
#new-game-button:active {
    transform: scale(0.90);
    transition: transform 0.3s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    background-color: #9165c4;
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}
#results {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 550px;
    margin: 15px auto;
    background-color: #9165c4;
    border-radius: 15px;
}
h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}
#results-list-wrapper {
    align-self: center;
}
#resuls-list {
    margin: auto;
}
.score {
    list-style: circle;
    font-size: 25px;
    line-height: 25px;
}
li span {
    top: -5px;
    position: relative;
}
#new-game-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    margin-bottom: 20px;
    align-self: center;
    transform: scale(1);
}
footer {
    align-items: flex-end;
    flex: 0 0 auto;
    background-color: #9165c4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
footer *{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.507);
    align-self: center;
}
#rs-logo {
    height: 100%;
    width: 80px;
    margin-top: 10px;
}